<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>SparkSetVersion</key>
<integer>1</integer>
<key>Emoticons</key>
<dict>
<key>2.gif</key>
<dict>
    <key>Equivalents</key>
    <array>
        <string>:)</string>
        <string></string>
    </array>
    <key>Name</key>
    <string>2</string>
</dict>
<key>3.gif</key>
<dict>
    <key>Equivalents</key>
    <array>
        <string>:(</string>
        <string></string>
    </array>
    <key>Name</key>
    <string>3</string>
</dict>
<key>4.gif</key>
<dict>
    <key>Equivalents</key>
    <array>
        <string>;)</string>
        <string></string>
    </array>
    <key>Name</key>
    <string>4</string>
</dict>
<key>5.gif</key>
<dict>
    <key>Equivalents</key>
    <array>
        <string>:)0</string>
        <string></string>
    </array>
    <key>Name</key>
    <string>5</string>
</dict>
<key>angry.gif</key>
<dict>
    <key>Equivalents</key>
    <array>
        <string>&gt;:o</string>
        <string>&gt;:-o</string>
        <string>&gt;:O</string>
        <string>&gt;:-O</string>
        <string></string>
    </array>
    <key>Name</key>
    <string>Angry</string>
</dict>
<key>9.gif</key>
<dict>
    <key>Equivalents</key>
    <array>
        <string>:()</string>
    </array>
    <key>Name</key>
    <string>9</string>
</dict>
</dict>
</dict>
</plist>
